.OddRow 
{
    background-color: lightblue;
}

.EvenRow 
{
    background-color: grey;
}

.mediumText 
{
font-size: 20px;
}

p 
{
font-size : 12px;
}
li 
{
font-size : 12px;
}

table 
{
font-size : 12px;
}